label{
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    padding: 1vh;
    border-radius: 5vh;
}
.login-container{
    width:60vw;
}
.login-container form{
    width: 90%;
}

@media screen and (max-width: 600px) {
    .login-container{
        width: 90vw;
    } 
    .login-container form{
        width: 100%;
    }
}
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: white;
  width: 400px;
  overflow: hidden;
}

.popup-header {
  background: #AD3A3C;
  color: white;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.boxy{
    height: 45px;
    border-radius: 30px;
    
}
.popup-header button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.popup-body {
  padding: 20px;
  text-align: center;
}

.popup-btn {
  margin-top: 15px;
  padding: 10px 30px;
  background: #AD3A3C;
  color: white;
  border: none;
  border-radius: px;
  cursor: pointer;
}
.success-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.success-box {
  background: white;
  padding: 40px 60px;
  border-radius: 16px;
  text-align: center;
}

/* Text */
.success-box p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #2e7d32;
}

/* SVG Check Animation */
.checkmark {
  width: 80px;
  height: 80px;
  stroke: #113e13;
  stroke-width: 4;
  stroke-miterlimit: 10;
  animation: scale 0.1s ease-in-out 0.2s both;
}

.checkmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  animation: stroke 0.5s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark-check {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.25s cubic-bezier(0.65, 0, 0.45, 1) 0.6s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale(1.1);
  }
}