.Present-box {
  background-color: #229853 !important;
  border: 1px solid #27ae60 !important;
  border-radius: 8px !important;
  padding: 0.1vw 0.1vw !important;
  color: white !important;
  font-weight: 600;
  margin-bottom: 4px !important;
  font-size: 1vw !important;
}

.Absent-box {
  background-color: #e14635 !important;
  border: 1px solid #c0392b !important;
  border-radius: 8px !important;
  padding: 0.1vw 0.1vw !important;
  color: white !important;
  font-weight: 600;
  margin-bottom: 4px !important;
  font-size: 1vw !important;
}
/* Toolbar height & padding */
.fc .fc-toolbar {
  padding: 0.5vw 1vw;
  margin-bottom: 0.5vw;
}

/* Navigation buttons */
.fc .fc-button {
  font-size: 1rem;
  padding: 0.3vw 0.6vw;
  height: auto;
}

/* Button group spacing */
.fc .fc-button-group {
  gap: 0.1em;
}

.fc-daygrid-day-top {
  font-size: 1.5rem;
  font-weight: 600;
}
