* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.container {
    padding-bottom: 50px;
}

.operator {
    display: flex;
    background-color: #f0f0f0;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.operator label {
    font-weight: bold;
    margin-right: 10px;
}

.student-btn, .class-btn {
    font-weight: 600;
}

.student-btn { margin-left: 100px; }
.class-btn { margin-left: 40px; }

.main {
    display: flex;
    width:99%;
    margin-left: 2vw;
    margin-top: 5vh;
    gap: 2vw;
}

.report {
    width: 70%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    min-height: 50vh;
}

.report-table {
    width: 100%;
    border-spacing: 0 10px;
}

.report-table th {
    text-align: left;
    padding: 10px 20px;
    font-size: 1.2rem;
}



.container .details {
    width: 30%;
    margin-right: 3vw;
    min-height: 50vh;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.details h3 {
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
        margin-left: 5vw;
        width: 90vw;
        gap: 20px;
    }

    .report,.container .details {
        width: 100%; 
        min-height: auto;
        margin-left: 0;
    }

    .operator {
        width: 90vw;
        flex-direction: column;
        gap: 10px;
    }

    .student-btn, .class-btn {
        margin-left: 0;
        width: 100%;
    }
}